*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Downloaded google fonts */
@font-face {
    font-family: Roboto-Black;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("../fonts/Roboto-Thin.ttf");
}


body{
    width: 100%;
    height: 100%;
    font-family: Roboto-Regular;
    overflow-x: hidden;
}


a{
    color: #fff;
    text-decoration: none;
}

.container{
    width: 75vw;
    margin: 0 auto;
}

.hero-section{
    height: 80vh;
    background: linear-gradient(0deg, rgba(14, 24, 9, 0.7), rgba(14, 24, 9, 0.7)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}

.main-nav{
    display: flex;
    font-family: Roboto-Medium;
    padding-top: 40px;
    align-items: center;
}

.logo{
    width: 30%;
}

.logo img{
    width: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
}

.main-nav ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: Roboto-Regular;
}

.main-nav ul .search{
    width: 20px;
}

.hero-contain{
    display: flex;
}

.empty{
    width: 30%;
    height: 50px;
    //background: blue;
}

.ctas{
    margin-top: 70px;
}

.empty{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.circles{
    margin-top: 100px;
    position: absolute;
    top: 280px;
    left: 0;
}

.circles span{
    width: 13px;
    height: 13px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 3px;
}

.circles span:first-child{
    background-color: #ccc;
}

.contain{
    height: 50px;
    //background-color: red;
    width: 70%;
}

.ctas ul{
    list-style: none;
    display: flex;
    font-family: Roboto-Medium;
    align-items: center;
}

.ctas ul li a{
    display: block;
    margin-right: 50px;
    letter-spacing: 3px;
    font-weight: 600;
}

.donate{
    background-color: #00b41e;
    padding: 15px 40px;
    border-radius: 20px;
}

.contain h1{
    font-size: 35px;
    color: white;
    font-family: Roboto-Regular;
    margin-top: 20px;
    line-height: 1.4;
    letter-spacing: 3px;
}

.ctas-volunteer{
    margin-top: 50px;
    font-family: Roboto-Medium;
    text-align: center;
}

.ctas-volunteer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.ctas-volunteer li{
    width: 50%;
    margin-right: 40px;
}

.ctas-volunteer ul li a{
    display: block;
}

.volunteer{
    background-color: #00b41e;
    padding: 15px;
    border-radius: 10px;
}

.figures{
    background: #00b41e;
    height: 20vh;
    display: flex;
    color: white;
    text-align: center;
    font-family: Roboto-Medium;
    justify-content: center;
    align-items: center;
}

.figures img{
    width: 30px;
    margin: 10px;
}

.figure-center{
    margin: 0 150px;
}

.figures h4{
    font-size: 40px;
}

.headlines{
    display: flex;
    width: 98%;
    color:#00b41e;
    margin-top: 45px;
}

.cards-headline{
    width: 70%;
    text-align: center;
}

.opportunity-headline{
    width: 26%;
    text-align: center;
}

.vol-blog-section{
    width: 98%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.blog-cards{
    width: 70%;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px 10px
}

.cards-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.cards-row .card{
    border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    width: 30%;
    background: white;
    overflow: hidden;
    border-radius: 10px;
}

.card-body{
    padding: 10px;
}

.card-body .location{
    color: #00b41e;
    margin: 10px 0;
    font-size: 15px;
}

.card-body .location span img{
    width: 15px;
}

.card-body .date{
    font-weight: bold;
    font-size: 14px;
}

.cards-row .card-img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 160px;
}

.card-img img{
    width: 100%;
    height: 100%;
}

.opportunity{
    border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    width: 26%;
    border-radius: 10px;
}

.opportunity h3{
    padding: 10px;
    margin: 6px 0;
    font-size: 15px;
    position: relative;
}

.opportunity span{
    position: absolute;
    top: 3px;
    margin-left: 5px;
}

.opportunity span img{
    width: 35px;
}

.see-all{
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    background: white;
    border:1px solid #00b41e;
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.partners{
    width: 80%;
    margin: 40px auto;
    margin-bottom: 170px;
}

.partners h3{
    text-align: center;
    color: #00b41e;
    margin: 20px;
}
.partners-wrapper{
    display: flex;
    justify-content: space-between;
}

.partner{
    width: 120px;
    height: 40px;
}

.partner img{
    width: 100%;
}

.social-media-section{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.social-media-section h3{
    color: #00b41e;
    text-align: center;
    margin: 70px;
}

.social-media-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social-media-cards .card{
    width: 30%;
    height: 170px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    padding-top: 30px;
}

.card .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -32px;
    left: 110px;
    z-index: 100;
}

.card .logo img{
    width: 100%;
}

.card p{
    text-align: center;
    line-height: 25px;
}

.newsfeed-container{
    width: 90%;
    margin: 30px auto;
}

.newsfeed-container h2{
    text-align: center;
    color:#00b41e;
    margin-bottom: 20px;
}

.newsfeed{
    width: 70%;
    margin: 0 auto;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    padding: 70px 50px;
    border-radius: 10px;
}

.newsfeed h3{
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.quicklinks{
    width: 100vw;
    height: 600px;
    background: linear-gradient(0deg, rgba(14, 24, 9, 0.9), rgba(14, 24, 9, 0.9)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.quicklinks h2{
    text-align: center;
    margin: 20px 0;
    color: white;
}

.quicklinks .links{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.links .link{
    color: white;
    text-align: center;
}

.link p{
    font-size: 20px;
    margin: 20px 0;
}


.quicklinks .profile{
    display: block;
    width: 160px;
    padding: 15px;
    margin: 10px auto;
    border:2px solid #00b41e;
}

.quicklinks h3{
    text-align: center;
    color: white;
    margin: 40px 0;
    letter-spacing: 3px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons img{
    width: 25px;
    text-align: center;
    margin: 10px 10px;
}

.card-body p{
    text-align: left;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00b41e;
}

footer .col{
    width: 50%;
    text-align: center;
    color: white;
    padding: 20px;
}

footer .col:first-child{
    border-right: 2px solid white;
}

